.popup__place-name{
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.21;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: -22px;
    margin: 0;
}