.profile{
    max-width: 880px;
    margin: 40px auto 50px;
    display: flex;
    justify-content: space-between;
    
}

@media (max-width: 900px){
    .profile{
        padding: 0 20px;
    }
}

@media (max-width: 750px){
    .profile{
        flex-direction: column;
    }
}

@media (max-width: 320px){
    .profile{
        margin: 42px 0 36px;
        padding: 0;
    }
}